:root { 
--gray_900_02:#29262d; 
--gray_900_03:#29252d; 
--blue_gray_200:#bac1ce; 
--gray_900_04:#1e1c21; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_gray_300:#9baabf; 
--gray_900_99:#0d162499; 
--blue_gray_600:#5f6c86; 
--gray_900:#222222; 
--gray_900_01:#0d1624; 
--gray_200:#f0f0f0; 
--gray_50:#f8f9fa; 
--blue_gray_300_01:#9ea8ba; 
--black_900:#000000; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--white_A700:#ffffff; 
}